//variáveis da grade
$grid-columns: 12;
$padding-columns: .25rem;

//576px
$breakpoint-mobile: 36em;
//768px
$breakpoint-tablet: 48em;
//1000px
$breakpoint-desktop: 62.5em;
//1200px
$breakpoint-large-desktop: 75em;
//1440px
$breakpoint-full-hd: 90em;